In [1]:
import pandas as pd

In [2]:
# Specify the path to your Excel file
excel_file_path = '/workspaces/codespaces-blank/data/FOOD_DATA.xlsx'

In [3]:
# Read the Excel file into a pandas DataFrame
df = pd.read_excel(excel_file_path)

# Display the DataFrame
print(df)

    FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
0                                                  NaN
1                                                  NaN
2                                              Table 1
3                      NUTRITIVE VALUE FOR (MAIN MEAL)
4                                            Sr. \nNo.
..                                                 ...
151                                                 26
152                                                 27
153                                                 28
154                                                 29
155                                                 30

                          Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                                NaN        NaN        NaN        NaN
1                                NaN        NaN        NaN        NaN
2                                NaN        NaN        NaN        NaN
3                                NaN        NaN        NaN        NaN
4                               Name   Proteins     Carbls       Fats
..                               ...        ...        ...        ...
151            Mango (1 Medium Size)       2.01      56.82       1.41
152           Chikoo (1 Medium Size)       0.42      12.82       0.72
153  Muskmelon Fruit (1 Medium Size)       0.51       5.61       0.32
154       Kiwi Fruit (1 Medium Size)       0.81      10.12       0.41
155      Pomegranate (1 Medium Size)       4.71      52.72       3.32

    Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0          NaN        NaN          NaN        NaN        NaN         NaN
1          NaN        NaN          NaN        NaN        NaN         NaN
2          NaN        NaN          NaN        NaN        NaN         NaN
3          NaN        NaN          NaN        NaN        NaN         NaN
4        Fiber        Cal  Break\nFast      Lunch     Dinner     Summer
..         ...        ...          ...        ...        ...         ...
151       6.72        249            1          1          1           1
152       6.53         59            1          1          1           1
153       1.31         27            1          1          1           1
154       2.12         42            1          1          1           1
155      11.31        234            1          1          1           1

    Unnamed: 11 Unnamed: 12
0           NaN         NaN
1           NaN         NaN
2           NaN         NaN
3           NaN         NaN
4       Winter      Monsoon
..          ...         ...
151           1           1
152           1           1
153           1           1
154           1           1
155           1           1

[156 rows x 13 columns]

In [4]:
df.columns

Index(['FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [5]:
df['FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION']

0                                   NaN
1                                   NaN
2                               Table 1
3       NUTRITIVE VALUE FOR (MAIN MEAL)
4                             Sr. \nNo.
                     ...
151                                  26
152                                  27
153                                  28
154                                  29
155                                  30
Name: FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION, Length: 156, dtype: object

In [6]:
df['Unnamed: 1']

0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                 Name
                    ...
151              Mango (1 Medium Size)
152             Chikoo (1 Medium Size)
153    Muskmelon Fruit (1 Medium Size)
154         Kiwi Fruit (1 Medium Size)
155        Pomegranate (1 Medium Size)
Name: Unnamed: 1, Length: 156, dtype: object

In [7]:
df.iloc[4:11]

,FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
4,Sr. \nNo.,Name,Proteins,Carbls,Fats,Fiber,Cal,Break\nFast,Lunch,Dinner,Summer,Winter,Monsoon
5,1,Plain Steamed Rice (1 Small Bowl),2.61,26.75,0.45,0.55,120,0,1,1,1,1,1
6,2,Roti (1 Medium Size),3.01,17.45,0.45,2.75,85,1,1,1,1,1,1
7,3,Bhakhri(1 Medium Size),2.01,18.05,6.05,1.04,130,1,1,1,1,1,1
8,4,Paratha(1 Medium Size),4.25,23.92,0.65,3.75,118,1,1,1,1,1,1
9,5,Rotla (Bajra)(1 Medium Size),3.65,21.1,1.67,3.58,113,1,1,1,1,1,1
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
import pandas as pd

def extract_table_info(df, table_name, start_col, end_col):
    table = df.iloc[start_col:end_col]
    print(f"\n{table_name}:")
    print(table)

In [9]:
# Extract information from each table
df.iloc[18:27]

,FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
18,Sr. \nNo.,Name,Proteins,Carbls,Fats,Fiber,Cal,Break\nFast,Lunch,Dinner,Summer,Winter,Monsoon
19,1,Red gram dal(1 Small Bowl),7.25,18.75,1.4,3.15,116,0,1,1,1,1,1
20,2,Green gram dal(1 Small Bowl),48.35,118.9,2.45,16.25,686,0,1,1,1,1,1
21,3,Horse gram dal(1 Small Bowl),6.35,16.25,2.95,3.56,126,0,1,1,1,1,1
22,4,Black gram dal(1 Small Bowl),47.35,117.4,2.85,23.1,684,0,1,1,1,1,1
23,5,Green gram subji(1 Small Bowl),5.95,14.96,2.14,4.53,102,0,1,1,1,1,1
24,6,Sprouted green gram subji(1 Small Bowl),3.75,11.89,3.5,3.9,87,0,1,1,1,1,1
25,7,Sprouted muthsubji(1 Small Bowl),0.89,2.65,3.12,0.95,40,0,1,1,1,1,1
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
extract_table_info(df, "Table 1", 4, 11)
extract_table_info(df, "Table 2", 13, 16)
extract_table_info(df, "Table 3", 18, 26)
extract_table_info(df, "Table 4", 29, 33)
extract_table_info(df, "Table 5", 36, 41)
extract_table_info(df, "Table 6", 44, 56)
extract_table_info(df, "Table 7", 59, 63)
extract_table_info(df, "Table 8", 66, 71)
extract_table_info(df, "Table 9", 74, 80)
extract_table_info(df, "Table 10", 83, 96)
extract_table_info(df, "Table 11", 99, 105)
extract_table_info(df, "Table 12", 108, 110)
extract_table_info(df, "Table 13", 113, 115)
extract_table_info(df, "Table 14", 118, 122)
extract_table_info(df, "Table 15", 125, 156)

Table 1:
   FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
4                                           Sr. \nNo.
5                                                   1
6                                                   2
7                                                   3
8                                                   4
9                                                   5
10                                                NaN

                           Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
4                                Name   Proteins     Carbls       Fats
5   Plain Steamed Rice (1 Small Bowl)       2.61      26.75       0.45
6                Roti (1 Medium Size)       3.01      17.45       0.45
7              Bhakhri(1 Medium Size)       2.01      18.05       6.05
8              Paratha(1 Medium Size)       4.25      23.92       0.65
9        Rotla (Bajra)(1 Medium Size)       3.65       21.1       1.67
10                                NaN        NaN        NaN        NaN

   Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
4       Fiber        Cal  Break\nFast      Lunch     Dinner     Summer
5        0.55        120            0          1          1           1
6        2.75         85            1          1          1           1
7        1.04        130            1          1          1           1
8        3.75        118            1          1          1           1
9        3.58        113            1          1          1           1
10        NaN        NaN          NaN        NaN        NaN         NaN

   Unnamed: 11 Unnamed: 12
4      Winter      Monsoon
5            1           1
6            1           1
7            1           1
8            1           1
9            1           1
10         NaN         NaN

Table 2:
   FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
13                                          Sr. \nNo.
14                                                  1
15                                                NaN

                           Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
13                               Name   Proteins     Carbls       Fats
14  Khakhra(1 Pieces) (1 Medium Size)       3.55       1.85       3.05
15                                NaN        NaN        NaN        NaN

   Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
13      Fiber        Cal  Break\nFast      Lunch     Dinner     Summer
14       2.06         89            1          0          0           1
15        NaN        NaN          NaN        NaN        NaN         NaN

   Unnamed: 11 Unnamed: 12
13     Winter      Monsoon
14           1           1
15         NaN         NaN

Table 3:
   FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
18                                          Sr. \nNo.
19                                                  1
20                                                  2
21                                                  3
22                                                  4
23                                                  5
24                                                  6
25                                                  7

                                 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
18                                     Name   Proteins     Carbls       Fats
19               Red gram dal(1 Small Bowl)       7.25      18.75        1.4
20             Green gram dal(1 Small Bowl)      48.35      118.9       2.45
21             Horse gram dal(1 Small Bowl)       6.35      16.25       2.95
22             Black gram dal(1 Small Bowl)      47.35      117.4       2.85
23           Green gram subji(1 Small Bowl)       5.95      14.96       2.14
24  Sprouted green gram subji(1 Small Bowl)       3.75      11.89        3.5
25         Sprouted muthsubji(1 Small Bowl)       0.89       2.65       3.12

   Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
18      Fiber        Cal  Break\nFast      Lunch     Dinner     Summer
19       3.15        116            0          1          1           1
20      16.25        686            0          1          1           1
21       3.56        126            0          1          1           1
22       23.1        684            0          1          1           1
23       4.53        102            0          1          1           1
24        3.9         87            0          1          1           1
25       0.95         40            0          1          1           1

   Unnamed: 11 Unnamed: 12
18     Winter      Monsoon
19           1           1
20           1           1
21           1           1
22           1           1
23           1           1
24           1           1
25           1           1

Table 4:
   FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
29                                          Sr. \nNo.
30                                                  1
31                                                  2
32                                                  3

                       Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
29                           Name   Proteins     Carbls       Fats      Fiber
30  Pudla (spicy) (1 Medium Size)       4.17       10.9       5.46       2.22
31                  Idli â€“ Sambar       8.26       39.5        5.6       4.36
32            Dosa(1 Medium Size)       3.65       21.4        5.9       1.56

   Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11  \
29        Cal  Break\nFast      Lunch     Dinner     Summer      Winter
30        109            0          0          1           1           1
31        239            1          0          1           1           1
32        154            0          0          1           1           1

   Unnamed: 12
29     Monsoon
30           1
31           1
32           1

Table 5:
   FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
36                                          Sr. \nNo.
37                                                  1
38                                                  2
39                                                  3
40                                                  4

                                       Unnamed: 1 Unnamed: 2 Unnamed: 3  \
36                                           Name   Proteins     Carbls
37             Cabbage potato subji(1 Small Bowl)       1.75      13.78
38  Fenugreek Leaves  brinjalsubji (1 Small Bowl)       1.35       5.36
39                     Tomato subji(1 Small Bowl)       1.45        6.2
40                  Radious Leaves (1 Small Bowl)       3.97        2.9

   Unnamed: 4 Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9  \
36       Fats      Fiber        Cal  Break\nFast      Lunch     Dinner
37       4.25       2.25         99            0          1          1
38      4.255       2.26         63            0          1          1
39        3.7        2.6         63            0          1          1
40        2.6        0.8         47            0          1          1

   Unnamed: 10 Unnamed: 11 Unnamed: 12
36     Summer      Winter      Monsoon
37           1           1           0
38           1           1           1
39           1           1           1
40           1           1           0

Table 6:
   FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
44                                          Sr. \nNo.
45                                                  1
46                                                  2
47                                                  3
48                                                  4
49                                                  5
50                                                  6
51                                                  7
52                                                  8
53                                                  9
54                                                 10
55                                                 11

                                        Unnamed: 1 Unnamed: 2 Unnamed: 3  \
44                                            Name   Proteins     Carbls
45      Brinjal potato tomato subji (1 Small Bowl)        1.7       12.5
46        Cauliflower potato subji  (1 Small Bowl)       1.75       13.9
47  Bottle gourd tomato onion subji (1 Small Bowl)       0.78       4.25
48       Cluster beans potato subji (1 Small Bowl)       2.78        9.5
49               Tinda potato subji (1 Small Bowl)       1.78       11.5
50                    Brinjalbhartha(1 Small Bowl)        2.1        7.8
51                 Beanspotatosubji (1 Small Bowl)       1.98       11.6
52                 Ridge gourdsubji (1 Small Bowl)        1.2        5.6
53               Spinach corn subji (1 Small Bowl)        2.8       14.6
54           Groundunt potato subji (1 Small Bowl)        3.2       18.6
55                      Potato sabji(1 Small Bowl)        1.8       19.6

   Unnamed: 4 Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9  \
44       Fats      Fiber        Cal  Break\nFast      Lunch     Dinner
45       4.26        2.8         91            0          1          1
46       3.98       2.04         95            0          1          1
47       3.96        2.7         54            0          1          1
48        5.2       4.02         95            0          1          1
49        3.6        2.6         82            0          1          1
50        3.6        6.8         70            0          0          1
51        4.6        2.8         93            0          1          1
52        2.7        2.5         52            0          1          1
53        2.3        2.3         79            0          0          1
54        7.9        2.6        156            0          1          1
55        3.9        1.8        118            0          1          1

   Unnamed: 10 Unnamed: 11 Unnamed: 12
44     Summer      Winter      Monsoon
45           1           1           1
46           0           1           0
47           1           1           1
48           0           1           0
49           0           1           1
50           0           1           0
51           1           1           1
52           1           1           1
53           1           1           1
54           1           1           1
55           1           1           1

Table 7:
   FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
59                                          Sr. \nNo.
60                                                  1
61                                                  2
62                                                  3

                                      Unnamed: 1 Unnamed: 2 Unnamed: 3  \
59                                          Name   Proteins     Carbls
60           Caggage green salad (2 Table Spoon)        1.8        4.5
61  Carrot tomato beetroot salad (2 Table Spoon)        1.2       5.98
62                      Tinda fry(2 Table Spoon)       0.98        2.8

   Unnamed: 4 Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9  \
59       Fats      Fiber        Cal  Break\nFast      Lunch     Dinner
60        0.2       2.68         25            0          1          1
61       0.25        2.6         29            0          1          1
62       1.36       0.78         25            0          1          1

   Unnamed: 10 Unnamed: 11 Unnamed: 12
59     Summer      Winter      Monsoon
60           0           1           1
61           1           1           0
62           1           1           1

Table 8:
   FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
66                                          Sr. \nNo.
67                                                  1
68                                                  2
69                                                  3
70                                                  4

                   Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
66                       Name   Proteins     Carbls       Fats      Fiber
67        Khir (1 Small Bowl)        0.8        4.6        1.2       0.15
68  Doodh Pak  (1 Small Bowl)       4.56      17.65        7.8       0.13
69   Shrikhand (1 Small Bowl)       12.5       58.9       12.5       0.45
70     Basondi (1 Small Bowl)        9.9       33.3       12.8        0.7

   Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11  \
66        Cal  Break\nFast      Lunch     Dinner     Summer      Winter
67         30            0          1          0           1           1
68        156            0          1          0           1           1
69        393            0          1          0           1           1
70        275            0          1          0           1           1

   Unnamed: 12
66     Monsoon
67           1
68           1
69           1
70           1

Table 9:
   FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
74                                          Sr. \nNo.
75                                                  1
76                                                  2
77                                                  3
78                                                  4
79                                                  5

                        Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
74                            Name   Proteins     Carbls       Fats
75          Khichdi (1 Small Bowl)        4.8       23.5       1.56
76   GujratiDhokla  (1 Small Bowl)        2.5        5.7        2.5
77   GujratiHandvo  (1 Small Bowl)        7.1       31.5        4.8
78      Dal dhokli  (1 Small Bowl)        7.5       24.6        5.6
79  Pudla (sweet)  (1 Medium Size)        2.6       19.6        4.6

   Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
74      Fiber        Cal  Break\nFast      Lunch     Dinner     Summer
75        2.5        125            1          0          1           1
76       1.05         54            1          0          1           1
77        3.6        192            1          0          0           1
78        4.5        173            0          0          1           1
79        2.6        128            0          0          1           1

   Unnamed: 11 Unnamed: 12
74     Winter      Monsoon
75           1           1
76           1           1
77           1           1
78           1           1
79           1           1

Table 10:
   FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
83                                          Sr. \nNo.
84                                                  1
85                                                  2
86                                                  3
87                                                  4
88                                                  5
89                                                  6
90                                                  7
91                                                  8
92                                                  9
93                                                 10
94                                                 11
95                                                 12

                                    Unnamed: 1 Unnamed: 2 Unnamed: 3  \
83                                        Name   Proteins     Carbls
84  Samwa millet potato khichdi (1 Small Bowl)        3.2       14.2
85                         Pulav(1 Small Bowl)        2.3       26.5
86   Bottle gourd (rice flakes (1 Small Bowl))       1.45       7.68
87    Potato poha (rice flakes) (1 Small Bowl)       2.98       24.6
88  Samwa millet potato khichdi (1 Small Bowl)        1.9       17.8
89    Potatocauliflowerkhichadi (1 Small Bowl)        1.6        4.2
90      Vegetable daliakhichadi (1 Small Bowl)        5.5       18.6
91                     Sukhabhel(1 Small Bowl)       0.23        1.5
92               Mix pulses bhel(1 Small Bowl)        5.8       16.5
93                Vegetable Oats(1 Small Bowl)        2.6       11.4
94                         Upma(1 Medium Size)        3.2       20.7
95                      Pavbhaji(1 Small Bowl)        8.5       73.5

   Unnamed: 4 Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9  \
83       Fats      Fiber        Cal  Break\nFast      Lunch     Dinner
84        5.5        2.3        114            0          0          1
85        1.8        0.6        133            0          0          1
86       0.68       0.95         43            0          1          1
87        4.5       1.35        143            1          0          0
88       6.01        2.6        133            0          1          1
89        0.5       1.56         25            0          1          1
90        3.2        4.3        119            0          1          1
91        0.5        0.2          8            0          0          1
92        0.5        2.3         81            0          0          1
93        3.8        2.4         88            0          0          1
94        1.9        1.6        111            1          0          1
95        5.8        2.5        376            0          0          1

   Unnamed: 10 Unnamed: 11 Unnamed: 12
83     Summer      Winter      Monsoon
84           1           1           1
85           1           1           1
86           1           1           1
87           1           1           1
88           1           1           1
89           1           1           1
90           1           1           1
91           1           1           1
92           1           1           1
93           1           1           1
94           1           1           1
95           1           1           1

Table 11:
    FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
99                                           Sr. \nNo.
100                                                  1
101                                                  2
102                                                  3
103                                                  4
104                                                  5

                                      Unnamed: 1 Unnamed: 2 Unnamed: 3  \
99                                          Name   Proteins     Carbls
100                          Patra(1 Small Bowl)        0.6        3.6
101                Stuffed brinjal(1 Small Bowl)       0.98        3.8
102                 Stuffed tomato(1 Small Bowl)        3.3        8.5
103  Steamed stuffed bitter gourd (1 Small Bowl)        2.7        8.2
104                        Undhiyu(1 Small Bowl)        6.8       18.9

    Unnamed: 4 Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8 Unnamed: 9  \
99        Fats      Fiber        Cal  Break\nFast      Lunch     Dinner
100        0.9       0.56         23            0          1          1
101        8.5       1.95         92            0          1          1
102        5.6        2.2         93            0          1          1
103        6.4        5.8         92            0          1          1
104       14.8        6.6        233            0          1          0

    Unnamed: 10 Unnamed: 11 Unnamed: 12
99      Summer      Winter      Monsoon
100           1           1           1
101           0           1           1
102           1           1           1
103           1           1           1
104           0           1           1

Table 12:
    FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION  \
108                                          Sr. \nNo.
109                                                  1

                           Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
108                              Name   Proteins     Carbls       Fats

In [11]:
import pandas as pd

def extract_table_info(df, table_name, start_col, end_col):
    table = df.iloc[start_col:end_col]
    # print(f"\n{table_name}:")
    # print(table)
    return table

In [12]:


# Extract information from each table
table1 = extract_table_info(df, "Table 1", 3, 11)
table2 = extract_table_info(df, "Table 2", 12, 16)
table3 = extract_table_info(df, "Table 3", 17, 26)
table4 = extract_table_info(df, "Table 4", 28, 33)
table5 = extract_table_info(df, "Table 5", 35, 41)
table6 = extract_table_info(df, "Table 6", 43, 56)
table7 = extract_table_info(df, "Table 7", 58, 63)
table8 = extract_table_info(df, "Table 8", 65, 71)
table9 = extract_table_info(df, "Table 9", 73, 80)
table10 = extract_table_info(df, "Table 10", 82, 96)
table11 = extract_table_info(df, "Table 11", 98, 105)
table12 = extract_table_info(df, "Table 12", 107, 110)
table13 = extract_table_info(df, "Table 13", 112, 115)
table14 = extract_table_info(df, "Table 14", 117, 122)
table15 = extract_table_info(df, "Table 15", 124, 156)

In [13]:
table1.iloc[:1]['FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION']

3     NUTRITIVE VALUE FOR (MAIN MEAL)
Name: FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION, dtype: object

In [14]:
table2.iloc[:1]['FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION']

12    NUTRITIVE VALUE FOR (SNACK)
Name: FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION, dtype: object

In [15]:
table1

,FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
3,NUTRITIVE VALUE FOR (MAIN MEAL),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sr. \nNo.,Name,Proteins,Carbls,Fats,Fiber,Cal,Break\nFast,Lunch,Dinner,Summer,Winter,Monsoon
5,1,Plain Steamed Rice (1 Small Bowl),2.61,26.75,0.45,0.55,120,0,1,1,1,1,1
6,2,Roti (1 Medium Size),3.01,17.45,0.45,2.75,85,1,1,1,1,1,1
7,3,Bhakhri(1 Medium Size),2.01,18.05,6.05,1.04,130,1,1,1,1,1,1
8,4,Paratha(1 Medium Size),4.25,23.92,0.65,3.75,118,1,1,1,1,1,1
9,5,Rotla (Bajra)(1 Medium Size),3.65,21.1,1.67,3.58,113,1,1,1,1,1,1
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
table12

,FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
107,NUTRITIVE VALUE FOR (CEREAL + PULSE + VEGETABL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Sr. \nNo.,Name,Proteins,Carbls,Fats,Fiber,Cal,Break\nFast,Lunch,Dinner,Summer,Winter,Monsoon
109,1,VaghareliKhichadi (1 Small Bowl),3.4,17.2,1.98,0.98,98,1,1,1,1,1,1

In [17]:
table12.iloc[0][0]

/tmp/ipykernel_30290/1679199113.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  table12.iloc[0][0]

'NUTRITIVE VALUE FOR (CEREAL + PULSE + VEGETABLE  PRODUCTS) (1 SMALL BOWL)'

In [18]:
table12.iloc[1]

FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION      Sr. \nNo.
Unnamed: 1                                                            Name
Unnamed: 2                                                        Proteins
Unnamed: 3                                                          Carbls
Unnamed: 4                                                            Fats
Unnamed: 5                                                           Fiber
Unnamed: 6                                                             Cal
Unnamed: 7                                                     Break\nFast
Unnamed: 8                                                           Lunch
Unnamed: 9                                                          Dinner
Unnamed: 10                                                        Summer
Unnamed: 11                                                        Winter
Unnamed: 12                                                        Monsoon
Name: 108, dtype: object

In [19]:
df  = table12
# Extract relevant information from the DataFrame and convert it into a dictionary
header_row = 0  # Assuming the header is in row 108

# Extract header information
header = df.iloc[header_row, 0]

# Extract data information
data_dict = {}
for index, row in df.iloc[header_row + 1 :].iterrows():
    food_name = row[1]
    food_info = dict(zip(df.columns[2:], row[2:]))
    data_dict[food_name] = food_info

result_dict = {header: data_dict}

print(result_dict)

{'NUTRITIVE VALUE FOR (CEREAL + PULSE + VEGETABLE  PRODUCTS) (1 SMALL BOWL)': {'Name': {'Unnamed: 2': 'Proteins', 'Unnamed: 3': 'Carbls', 'Unnamed: 4': 'Fats', 'Unnamed: 5': 'Fiber', 'Unnamed: 6': 'Cal', 'Unnamed: 7': 'Break\nFast', 'Unnamed: 8': 'Lunch', 'Unnamed: 9': 'Dinner', 'Unnamed: 10': 'Summer ', 'Unnamed: 11': 'Winter ', 'Unnamed: 12': 'Monsoon'}, 'VaghareliKhichadi (1 Small Bowl)': {'Unnamed: 2': 3.4, 'Unnamed: 3': 17.2, 'Unnamed: 4': 1.98, 'Unnamed: 5': 0.98, 'Unnamed: 6': 98, 'Unnamed: 7': 1, 'Unnamed: 8': 1, 'Unnamed: 9': 1, 'Unnamed: 10': 1, 'Unnamed: 11': 1, 'Unnamed: 12': 1}}}

/tmp/ipykernel_30290/1526912651.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  food_name = row[1]

In [20]:
df

,FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
107,NUTRITIVE VALUE FOR (CEREAL + PULSE + VEGETABL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Sr. \nNo.,Name,Proteins,Carbls,Fats,Fiber,Cal,Break\nFast,Lunch,Dinner,Summer,Winter,Monsoon
109,1,VaghareliKhichadi (1 Small Bowl),3.4,17.2,1.98,0.98,98,1,1,1,1,1,1

In [21]:
table1

,FOOD_ DATA_SET FOR CARDIAC PATIENT \nWITH CAL SPECIFICATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
3,NUTRITIVE VALUE FOR (MAIN MEAL),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sr. \nNo.,Name,Proteins,Carbls,Fats,Fiber,Cal,Break\nFast,Lunch,Dinner,Summer,Winter,Monsoon
5,1,Plain Steamed Rice (1 Small Bowl),2.61,26.75,0.45,0.55,120,0,1,1,1,1,1
6,2,Roti (1 Medium Size),3.01,17.45,0.45,2.75,85,1,1,1,1,1,1
7,3,Bhakhri(1 Medium Size),2.01,18.05,6.05,1.04,130,1,1,1,1,1,1
8,4,Paratha(1 Medium Size),4.25,23.92,0.65,3.75,118,1,1,1,1,1,1
9,5,Rotla (Bajra)(1 Medium Size),3.65,21.1,1.67,3.58,113,1,1,1,1,1,1
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
{"NUTRITIVE VALUE FOR (MAIN MEAL":{"Name": {"Plain Steamed Rice (1 Small Bowl)" ,	2.61 	,26.75 	,0.45 	,0.55 	,120 ,	0 	,1 ,1,1, 	1, 	1 	,1} , }}

{'NUTRITIVE VALUE FOR (MAIN MEAL': {'Name': {0,
   0.45,
   0.55,
   1,
   120,
   2.61,
   26.75,
   'Plain Steamed Rice (1 Small Bowl)'}}}

In [23]:
table1.iloc[0][0]

/tmp/ipykernel_30290/4165716902.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  table1.iloc[0][0]

' NUTRITIVE VALUE FOR (MAIN MEAL)'

In [24]:

val

NameError: name 'val' is not defined

In [25]:
Info = {}

val = list(table1[table1["Unnamed: 1"].notna()]["Unnamed: 1"].unique())
for i in range(len(val)):
    if i  == 0:
        Info[table1.iloc[0][0]] = {}
    else:
        Info[table1.iloc[0][0]][val[i]] = table1[table1['Unnamed: 1'] == val[i]].values[:,2:]
    
Info

/tmp/ipykernel_30290/649618107.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Info[table1.iloc[0][0]] = {}
/tmp/ipykernel_30290/649618107.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Info[table1.iloc[0][0]][val[i]] = table1[table1['Unnamed: 1'] == val[i]].values[:,2:]

{' NUTRITIVE VALUE FOR (MAIN MEAL)': {'Plain Steamed Rice (1 Small Bowl)': array([[2.61, 26.75, 0.45, 0.55, 120, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Roti (1 Medium Size)': array([[3.01, 17.45, 0.45, 2.75, 85, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Bhakhri(1 Medium Size)': array([[2.01, 18.05, 6.05, 1.04, 130, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Paratha(1 Medium Size)': array([[4.25, 23.92, 0.65, 3.75, 118, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Rotla (Bajra)(1 Medium Size)': array([[3.65, 21.1, 1.67, 3.58, 113, 1, 1, 1, 1, 1, 1]], dtype=object)}}

In [26]:
Info = {}

# Assuming you have 15 tables named table1, table2, ..., table15
for table_number in range(1, 16):
    current_table_name = f'table{table_number}'
    current_table = globals()[current_table_name]  # Get the table using globals()

    unique_values = current_table[current_table["Unnamed: 1"].notna()]["Unnamed: 1"].unique()

    for i, val in enumerate(unique_values):
        if i == 0:
            Info[current_table.iloc[0][0]] = {}
        else:
            Info[current_table.iloc[0][0]][val] = current_table[current_table['Unnamed: 1'] == val].values[:, 2:]

print(Info)

{' NUTRITIVE VALUE FOR (MAIN MEAL)': {'Plain Steamed Rice (1 Small Bowl)': array([[2.61, 26.75, 0.45, 0.55, 120, 0, 1, 1, 1, 1, 1]], dtype=object), 'Roti (1 Medium Size)': array([[3.01, 17.45, 0.45, 2.75, 85, 1, 1, 1, 1, 1, 1]], dtype=object), 'Bhakhri(1 Medium Size)': array([[2.01, 18.05, 6.05, 1.04, 130, 1, 1, 1, 1, 1, 1]], dtype=object), 'Paratha(1 Medium Size)': array([[4.25, 23.92, 0.65, 3.75, 118, 1, 1, 1, 1, 1, 1]], dtype=object), 'Rotla (Bajra)(1 Medium Size)': array([[3.65, 21.1, 1.67, 3.58, 113, 1, 1, 1, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (SNACK)': {'Khakhra(1 Pieces) (1 Medium Size)': array([[3.55, 1.85, 3.05, 2.06, 89, 1, 0, 0, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (MAIN MEAL) DAL & SUBJI (COUNTED THE NUTRITIVE VALUE FOR 1 BOWL)': {'Red gram dal(1 Small Bowl)': array([[7.25, 18.75, 1.4, 3.15, 116, 0, 1, 1, 1, 1, 1]], dtype=object), 'Green gram dal(1 Small Bowl)': array([[48.35, 118.9, 2.45, 16.25, 686, 0, 1, 1, 1, 1, 1]], dtype=object), 'Horse gram dal(1 Small Bowl)': array([[6.35, 16.25, 2.95, 3.56, 126, 0, 1, 1, 1, 1, 1]], dtype=object), 'Black gram dal(1 Small Bowl)': array([[47.35, 117.4, 2.85, 23.1, 684, 0, 1, 1, 1, 1, 1]], dtype=object), 'Green gram subji(1 Small Bowl)': array([[5.95, 14.96, 2.14, 4.53, 102, 0, 1, 1, 1, 1, 1]], dtype=object), 'Sprouted green gram subji(1 Small Bowl)': array([[3.75, 11.89, 3.5, 3.9, 87, 0, 1, 1, 1, 1, 1]], dtype=object), 'Sprouted muthsubji(1 Small Bowl)': array([[0.89, 2.65, 3.12, 0.95, 40, 0, 1, 1, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (SNACKS)': {'Pudla (spicy) (1 Medium Size)': array([[4.17, 10.9, 5.46, 2.22, 109, 0, 0, 1, 1, 1, 1]], dtype=object), 'Idli â€“ Sambar': array([[8.26, 39.5, 5.6, 4.36, 239, 1, 0, 1, 1, 1, 1]], dtype=object), 'Dosa(1 Medium Size)': array([[3.65, 21.4, 5.9, 1.56, 154, 0, 0, 1, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (LEAFY VEGETABLES) (1 SMALL BOWL)': {'Cabbage potato subji(1 Small Bowl)': array([[1.75, 13.78, 4.25, 2.25, 99, 0, 1, 1, 1, 1, 0]], dtype=object), 'Fenugreek Leaves  brinjalsubji (1 Small Bowl)': array([[1.35, 5.36, 4.255, 2.26, 63, 0, 1, 1, 1, 1, 1]], dtype=object), 'Tomato subji(1 Small Bowl)': array([[1.45, 6.2, 3.7, 2.6, 63, 0, 1, 1, 1, 1, 1]], dtype=object), 'Radious Leaves (1 Small Bowl)': array([[3.97, 2.9, 2.6, 0.8, 47, 0, 1, 1, 1, 1, 0]], dtype=object)}, 'NUTRITIVE VALUE FOR (OTHER VEGETABLES) (1 SMALL BOWL)': {'Brinjal potato tomato subji (1 Small Bowl)': array([[1.7, 12.5, 4.26, 2.8, 91, 0, 1, 1, 1, 1, 1]], dtype=object), 'Cauliflower potato subji  (1 Small Bowl)': array([[1.75, 13.9, 3.98, 2.04, 95, 0, 1, 1, 0, 1, 0]], dtype=object), 'Bottle gourd tomato onion subji (1 Small Bowl)': array([[0.78, 4.25, 3.96, 2.7, 54, 0, 1, 1, 1, 1, 1]], dtype=object), 'Cluster beans potato subji (1 Small Bowl)': array([[2.78, 9.5, 5.2, 4.02, 95, 0, 1, 1, 0, 1, 0]], dtype=object), 'Tinda potato subji (1 Small Bowl)': array([[1.78, 11.5, 3.6, 2.6, 82, 0, 1, 1, 0, 1, 1]], dtype=object), 'Brinjalbhartha(1 Small Bowl)': array([[2.1, 7.8, 3.6, 6.8, 70, 0, 0, 1, 0, 1, 0]], dtype=object), 'Beanspotatosubji (1 Small Bowl)': array([[1.98, 11.6, 4.6, 2.8, 93, 0, 1, 1, 1, 1, 1]], dtype=object), 'Ridge gourdsubji (1 Small Bowl)': array([[1.2, 5.6, 2.7, 2.5, 52, 0, 1, 1, 1, 1, 1]], dtype=object), 'Spinach corn subji (1 Small Bowl)': array([[2.8, 14.6, 2.3, 2.3, 79, 0, 0, 1, 1, 1, 1]], dtype=object), 'Groundunt potato subji (1 Small Bowl)': array([[3.2, 18.6, 7.9, 2.6, 156, 0, 1, 1, 1, 1, 1]], dtype=object), 'Potato sabji(1 Small Bowl)': array([[1.8, 19.6, 3.9, 1.8, 118, 0, 1, 1, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (SAMBHARA) (2 TABLE SPOON)': {'Caggage green salad (2 Table Spoon)': array([[1.8, 4.5, 0.2, 2.68, 25, 0, 1, 1, 0, 1, 1]], dtype=object), 'Carrot tomato beetroot salad (2 Table Spoon)': array([[1.2, 5.98, 0.25, 2.6, 29, 0, 1, 1, 1, 1, 0]], dtype=object), 'Tinda fry(2 Table Spoon)': array([[0.98, 2.8, 1.36, 0.78, 25, 0, 1, 1, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (MILK PRODUCT) (1 SMALL BOWL)': {'Khir (1 Small Bowl)': array([[0.8, 4.6, 1.2, 0.15, 30, 0, 1, 0, 1, 1, 1]], dtype=object), 'Doodh Pak  (1 Small Bowl)': array([[4.56, 17.65, 7.8, 0.13, 156, 0, 1, 0, 1, 1, 1]], dtype=object), 'Shrikhand (1 Small Bowl)': array([[12.5, 58.9, 12.5, 0.45, 393, 0, 1, 0, 1, 1, 1]], dtype=object), 'Basondi (1 Small Bowl)': array([[9.9, 33.3, 12.8, 0.7, 275, 0, 1, 0, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (CEREAL + PULSE PRODUCT) (1 SMALL BOWL)': {'Khichdi (1 Small Bowl)': array([[4.8, 23.5, 1.56, 2.5, 125, 1, 0, 1, 1, 1, 1]], dtype=object), 'GujratiDhokla  (1 Small Bowl)': array([[2.5, 5.7, 2.5, 1.05, 54, 1, 0, 1, 1, 1, 1]], dtype=object), 'GujratiHandvo  (1 Small Bowl)': array([[7.1, 31.5, 4.8, 3.6, 192, 1, 0, 0, 1, 1, 1]], dtype=object), 'Dal dhokli  (1 Small Bowl)': array([[7.5, 24.6, 5.6, 4.5, 173, 0, 0, 1, 1, 1, 1]], dtype=object), 'Pudla (sweet)  (1 Medium Size)': array([[2.6, 19.6, 4.6, 2.6, 128, 0, 0, 1, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (CEREAL + VEGETABLE PRODUCT) (1 SMALL BOWL)': {'Samwa millet potato khichdi (1 Small Bowl)': array([[3.2, 14.2, 5.5, 2.3, 114, 0, 0, 1, 1, 1, 1],
       [1.9, 17.8, 6.01, 2.6, 133, 0, 1, 1, 1, 1, 1]], dtype=object), 'Pulav(1 Small Bowl)': array([[2.3, 26.5, 1.8, 0.6, 133, 0, 0, 1, 1, 1, 1]], dtype=object), 'Bottle gourd (rice flakes (1 Small Bowl))': array([[1.45, 7.68, 0.68, 0.95, 43, 0, 1, 1, 1, 1, 1]], dtype=object), 'Potato poha (rice flakes) (1 Small Bowl)': array([[2.98, 24.6, 4.5, 1.35, 143, 1, 0, 0, 1, 1, 1]], dtype=object), 'Potatocauliflowerkhichadi (1 Small Bowl)': array([[1.6, 4.2, 0.5, 1.56, 25, 0, 1, 1, 1, 1, 1]], dtype=object), 'Vegetable daliakhichadi (1 Small Bowl)': array([[5.5, 18.6, 3.2, 4.3, 119, 0, 1, 1, 1, 1, 1]], dtype=object), 'Sukhabhel(1 Small Bowl)': array([[0.23, 1.5, 0.5, 0.2, 8, 0, 0, 1, 1, 1, 1]], dtype=object), ' Mix pulses bhel(1 Small Bowl)': array([[5.8, 16.5, 0.5, 2.3, 81, 0, 0, 1, 1, 1, 1]], dtype=object), 'Vegetable Oats(1 Small Bowl)': array([[2.6, 11.4, 3.8, 2.4, 88, 0, 0, 1, 1, 1, 1]], dtype=object), 'Upma(1 Medium Size)': array([[3.2, 20.7, 1.9, 1.6, 111, 1, 0, 1, 1, 1, 1]], dtype=object), 'Pavbhaji(1 Small Bowl)': array([[8.5, 73.5, 5.8, 2.5, 376, 0, 0, 1, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (PULSE + VEGETABLE PRODUCT) (1 SMALL BOWL)': {'Patra(1 Small Bowl)': array([[0.6, 3.6, 0.9, 0.56, 23, 0, 1, 1, 1, 1, 1]], dtype=object), 'Stuffed brinjal(1 Small Bowl)': array([[0.98, 3.8, 8.5, 1.95, 92, 0, 1, 1, 0, 1, 1]], dtype=object), 'Stuffed tomato(1 Small Bowl)': array([[3.3, 8.5, 5.6, 2.2, 93, 0, 1, 1, 1, 1, 1]], dtype=object), 'Steamed stuffed bitter gourd (1 Small Bowl)': array([[2.7, 8.2, 6.4, 5.8, 92, 0, 1, 1, 1, 1, 1]], dtype=object), 'Undhiyu(1 Small Bowl)': array([[6.8, 18.9, 14.8, 6.6, 233, 0, 1, 0, 0, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (CEREAL + PULSE + VEGETABLE  PRODUCTS) (1 SMALL BOWL)': {'VaghareliKhichadi (1 Small Bowl)': array([[3.4, 17.2, 1.98, 0.98, 98, 1, 1, 1, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (MILK + PULSE PRODUCT) (1 SMALL BOWL)': {'Kadhi(1 Small Bowl)': array([[2.98, 5.3, 5.2, 0.9, 78, 0, 1, 1, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (OIL SEEDS PRODUCT)(1 SMALL PIECE)': {'Groundnut chikki  (1 Small Piece)': array([[1.3, 3.1, 2.4, 0.5, 36, 1, 0, 0, 0, 1, 0]], dtype=object), 'Black sesame seeds  Chokki  (1 Small Piece)': array([[2.9, 15.2, 10.5, 2.3, 157, 1, 0, 0, 0, 1, 0]], dtype=object), 'Shingpak (1 Small Piece)': array([[2.3, 5.8, 4.7, 0.9, 70, 1, 0, 0, 1, 1, 1]], dtype=object)}, 'NUTRITIVE VALUE FOR (RAW FRUITS) (1 MEDIUM SIZE)': {'Medium Apple (1 Medium Size)': array([[0.41, 24.42, 0.92, 5.83, 107, 1, 1, 1, 1, 1, 1]], dtype=object), 'Medium Banana (1 Medium Size)': array([[1.32, 27.53, 0.32, 2.04, 117, 1, 1, 1, 1, 1, 1]], dtype=object), 'Medium Pear (1 Medium Size)': array([[1.12, 21.22, 0.43, 7.72, 93, 1, 1, 1, 1, 1, 1]], dtype=object), 'Pineapple (1 Medium Size)': array([[3.63, 97.72, 0.92, 25.32, 416, 1, 1, 1, 1, 1, 1]], dtype=object), 'Plum(1 Medium Size)': array([[0.52, 7.34, 0.32, 1.92, 34, 1, 1, 1, 1, 1, 1]], dtype=object), 'Sapota (1 Medium Size)': array([[0.42, 12.82, 0.73, 6.52, 59, 1, 1, 1, 1, 1, 1]], dtype=object), 'Strawberry (1 Medium Size)': array([[0.12, 1.23, 0.0001, 0.31, 5, 1, 1, 1, 1, 1, 1]], dtype=object), 'Watermelon Balls (1 Medium Size)': array([[0, 0.41, 0, 0.1, 2, 1, 1, 1, 1, 1, 1]], dtype=object), 'Apricot Dried  (1 P)  (1 Medium Size)': array([[0.11, 4.91, 0.12, 0.52, 20, 1, 1, 1, 1, 1, 1]], dtype=object), 'Avocado Fruit (Sliced) (1 Medium Size)': array([[4.31, 2.62, 20.21, 9.82, 211, 1, 1, 1, 1, 1, 1]], dtype=object), 'Dragon Fruit (1 Medium Size)': array([[4.1, 17.81, 4.1, 3.01, 119, 1, 1, 1, 1, 1, 1]], dtype=object), 'Cherries Red (1 Medium Size)': array([[1.12, 14.23, 0.52, 1.61, 66, 1, 1, 1, 1, 1, 1]], dtype=object), 'Rose Apple (1 Medium Size)': array([[1.51, 15.11, 0.42, 2.12, 69, 1, 1, 1, 1, 1, 1]], dtype=object), 'Dates, Processed (1 Medium Size)': array([[0.31, 8.12, 0.11, 1.91, 35, 1, 1, 1, 1, 1, 1]], dtype=object), 'Fig(1 Medium Size)': array([[0.42, 9.61, 0.21, 1.52, 37, 1, 1, 1, 1, 1, 1]], dtype=object), 'Gooseberry (1 Medium Size)': array([[0.11, 3.52, 0, 0.41, 14, 1, 1, 1, 1, 1, 1]], dtype=object), 'Grapes Green (1 Medium Size)': array([[0, 0.81, 0, 0.1, 3, 1, 1, 1, 1, 1, 1]], dtype=object), 'Grapes Black (1 Medium Size)': array([[0.11, 1.12, 0, 0.21, 5, 1, 1, 1, 1, 1, 1]], dtype=object), 'Guava pink Flesh (1 Medium Size)': array([[0.81, 6.41, 0.22, 5.21, 33, 1, 1, 1, 1, 1, 1]], dtype=object), 'Guava White Flesh (1 Medium Size)': array([[1.81, 10.1, 0.72, 3.81, 48, 1, 1, 1, 1, 1, 1]], dtype=object), 'Jambu fruit Ripe (1 Medium Size)': array([[0, 0.41, 0, 0.11, 2, 1, 1, 1, 1, 1, 1]], dtype=object), 'Litchi (1 Medium Size)': array([[0.11, 1.61, 0.12, 0.12, 6, 1, 1, 1, 1, 1, 1]], dtype=object), 'Mandarin Orange(1 Medium Size)': array([[1.01, 15.92, 0.41, 2.23, 63, 1, 1, 1, 1, 1, 1]], dtype=object), 'Orange (1 Medium Size)': array([[0.7, 10.51, 0.21, 1.13, 46, 1, 1, 1, 1, 1, 1]], dtype=object), 'Papaya, Ripe (1 Medium Size)': array([[0.91, 10.41, 0.22, 3.82, 46, 1, 1, 1, 1, 1, 1]], dtype=object), 'Mango (1 Medium Size)': array([[2.01, 56.82, 1.41, 6.72, 249, 1, 1, 1, 1, 1, 1]], dtype=object), 'Chikoo (1 Medium Size)': array([[0.42, 12.82, 0.72, 6.53, 59, 1, 1, 1, 1, 1, 1]], dtype=object), 'Muskmelon Fruit (1 Medium Size)': array([[0.51, 5.61, 0.32, 1.31, 27, 1, 1, 1, 1, 1, 1]], dtype=object), 'Kiwi Fruit (1 Medium Size)': array([[0.81, 10.12, 0.41, 2.12, 42, 1, 1, 1, 1, 1, 1]], dtype=object), 'Pomegranate (1 Medium Size)': array([[4.71, 52.72, 3.32, 11.31, 234, 1, 1, 1, 1, 1, 1]], dtype=object)}}

/tmp/ipykernel_30290/2935506429.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Info[current_table.iloc[0][0]] = {}
/tmp/ipykernel_30290/2935506429.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Info[current_table.iloc[0][0]][val] = current_table[current_table['Unnamed: 1'] == val].values[:, 2:]

In [27]:
Info

{' NUTRITIVE VALUE FOR (MAIN MEAL)': {'Plain Steamed Rice (1 Small Bowl)': array([[2.61, 26.75, 0.45, 0.55, 120, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Roti (1 Medium Size)': array([[3.01, 17.45, 0.45, 2.75, 85, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Bhakhri(1 Medium Size)': array([[2.01, 18.05, 6.05, 1.04, 130, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Paratha(1 Medium Size)': array([[4.25, 23.92, 0.65, 3.75, 118, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Rotla (Bajra)(1 Medium Size)': array([[3.65, 21.1, 1.67, 3.58, 113, 1, 1, 1, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (SNACK)': {'Khakhra(1 Pieces) (1 Medium Size)': array([[3.55, 1.85, 3.05, 2.06, 89, 1, 0, 0, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (MAIN MEAL) DAL & SUBJI (COUNTED THE NUTRITIVE VALUE FOR 1 BOWL)': {'Red gram dal(1 Small Bowl)': array([[7.25, 18.75, 1.4, 3.15, 116, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Green gram dal(1 Small Bowl)': array([[48.35, 118.9, 2.45, 16.25, 686, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Horse gram dal(1 Small Bowl)': array([[6.35, 16.25, 2.95, 3.56, 126, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Black gram dal(1 Small Bowl)': array([[47.35, 117.4, 2.85, 23.1, 684, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Green gram subji(1 Small Bowl)': array([[5.95, 14.96, 2.14, 4.53, 102, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Sprouted green gram subji(1 Small Bowl)': array([[3.75, 11.89, 3.5, 3.9, 87, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Sprouted muthsubji(1 Small Bowl)': array([[0.89, 2.65, 3.12, 0.95, 40, 0, 1, 1, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (SNACKS)': {'Pudla (spicy) (1 Medium Size)': array([[4.17, 10.9, 5.46, 2.22, 109, 0, 0, 1, 1, 1, 1]], dtype=object),
  'Idli â€“ Sambar': array([[8.26, 39.5, 5.6, 4.36, 239, 1, 0, 1, 1, 1, 1]], dtype=object),
  'Dosa(1 Medium Size)': array([[3.65, 21.4, 5.9, 1.56, 154, 0, 0, 1, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (LEAFY VEGETABLES) (1 SMALL BOWL)': {'Cabbage potato subji(1 Small Bowl)': array([[1.75, 13.78, 4.25, 2.25, 99, 0, 1, 1, 1, 1, 0]], dtype=object),
  'Fenugreek Leaves  brinjalsubji (1 Small Bowl)': array([[1.35, 5.36, 4.255, 2.26, 63, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Tomato subji(1 Small Bowl)': array([[1.45, 6.2, 3.7, 2.6, 63, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Radious Leaves (1 Small Bowl)': array([[3.97, 2.9, 2.6, 0.8, 47, 0, 1, 1, 1, 1, 0]], dtype=object)},
 'NUTRITIVE VALUE FOR (OTHER VEGETABLES) (1 SMALL BOWL)': {'Brinjal potato tomato subji (1 Small Bowl)': array([[1.7, 12.5, 4.26, 2.8, 91, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Cauliflower potato subji  (1 Small Bowl)': array([[1.75, 13.9, 3.98, 2.04, 95, 0, 1, 1, 0, 1, 0]], dtype=object),
  'Bottle gourd tomato onion subji (1 Small Bowl)': array([[0.78, 4.25, 3.96, 2.7, 54, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Cluster beans potato subji (1 Small Bowl)': array([[2.78, 9.5, 5.2, 4.02, 95, 0, 1, 1, 0, 1, 0]], dtype=object),
  'Tinda potato subji (1 Small Bowl)': array([[1.78, 11.5, 3.6, 2.6, 82, 0, 1, 1, 0, 1, 1]], dtype=object),
  'Brinjalbhartha(1 Small Bowl)': array([[2.1, 7.8, 3.6, 6.8, 70, 0, 0, 1, 0, 1, 0]], dtype=object),
  'Beanspotatosubji (1 Small Bowl)': array([[1.98, 11.6, 4.6, 2.8, 93, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Ridge gourdsubji (1 Small Bowl)': array([[1.2, 5.6, 2.7, 2.5, 52, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Spinach corn subji (1 Small Bowl)': array([[2.8, 14.6, 2.3, 2.3, 79, 0, 0, 1, 1, 1, 1]], dtype=object),
  'Groundunt potato subji (1 Small Bowl)': array([[3.2, 18.6, 7.9, 2.6, 156, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Potato sabji(1 Small Bowl)': array([[1.8, 19.6, 3.9, 1.8, 118, 0, 1, 1, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (SAMBHARA) (2 TABLE SPOON)': {'Caggage green salad (2 Table Spoon)': array([[1.8, 4.5, 0.2, 2.68, 25, 0, 1, 1, 0, 1, 1]], dtype=object),
  'Carrot tomato beetroot salad (2 Table Spoon)': array([[1.2, 5.98, 0.25, 2.6, 29, 0, 1, 1, 1, 1, 0]], dtype=object),
  'Tinda fry(2 Table Spoon)': array([[0.98, 2.8, 1.36, 0.78, 25, 0, 1, 1, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (MILK PRODUCT) (1 SMALL BOWL)': {'Khir (1 Small Bowl)': array([[0.8, 4.6, 1.2, 0.15, 30, 0, 1, 0, 1, 1, 1]], dtype=object),
  'Doodh Pak  (1 Small Bowl)': array([[4.56, 17.65, 7.8, 0.13, 156, 0, 1, 0, 1, 1, 1]], dtype=object),
  'Shrikhand (1 Small Bowl)': array([[12.5, 58.9, 12.5, 0.45, 393, 0, 1, 0, 1, 1, 1]], dtype=object),
  'Basondi (1 Small Bowl)': array([[9.9, 33.3, 12.8, 0.7, 275, 0, 1, 0, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (CEREAL + PULSE PRODUCT) (1 SMALL BOWL)': {'Khichdi (1 Small Bowl)': array([[4.8, 23.5, 1.56, 2.5, 125, 1, 0, 1, 1, 1, 1]], dtype=object),
  'GujratiDhokla  (1 Small Bowl)': array([[2.5, 5.7, 2.5, 1.05, 54, 1, 0, 1, 1, 1, 1]], dtype=object),
  'GujratiHandvo  (1 Small Bowl)': array([[7.1, 31.5, 4.8, 3.6, 192, 1, 0, 0, 1, 1, 1]], dtype=object),
  'Dal dhokli  (1 Small Bowl)': array([[7.5, 24.6, 5.6, 4.5, 173, 0, 0, 1, 1, 1, 1]], dtype=object),
  'Pudla (sweet)  (1 Medium Size)': array([[2.6, 19.6, 4.6, 2.6, 128, 0, 0, 1, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (CEREAL + VEGETABLE PRODUCT) (1 SMALL BOWL)': {'Samwa millet potato khichdi (1 Small Bowl)': array([[3.2, 14.2, 5.5, 2.3, 114, 0, 0, 1, 1, 1, 1],
         [1.9, 17.8, 6.01, 2.6, 133, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Pulav(1 Small Bowl)': array([[2.3, 26.5, 1.8, 0.6, 133, 0, 0, 1, 1, 1, 1]], dtype=object),
  'Bottle gourd (rice flakes (1 Small Bowl))': array([[1.45, 7.68, 0.68, 0.95, 43, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Potato poha (rice flakes) (1 Small Bowl)': array([[2.98, 24.6, 4.5, 1.35, 143, 1, 0, 0, 1, 1, 1]], dtype=object),
  'Potatocauliflowerkhichadi (1 Small Bowl)': array([[1.6, 4.2, 0.5, 1.56, 25, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Vegetable daliakhichadi (1 Small Bowl)': array([[5.5, 18.6, 3.2, 4.3, 119, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Sukhabhel(1 Small Bowl)': array([[0.23, 1.5, 0.5, 0.2, 8, 0, 0, 1, 1, 1, 1]], dtype=object),
  ' Mix pulses bhel(1 Small Bowl)': array([[5.8, 16.5, 0.5, 2.3, 81, 0, 0, 1, 1, 1, 1]], dtype=object),
  'Vegetable Oats(1 Small Bowl)': array([[2.6, 11.4, 3.8, 2.4, 88, 0, 0, 1, 1, 1, 1]], dtype=object),
  'Upma(1 Medium Size)': array([[3.2, 20.7, 1.9, 1.6, 111, 1, 0, 1, 1, 1, 1]], dtype=object),
  'Pavbhaji(1 Small Bowl)': array([[8.5, 73.5, 5.8, 2.5, 376, 0, 0, 1, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (PULSE + VEGETABLE PRODUCT) (1 SMALL BOWL)': {'Patra(1 Small Bowl)': array([[0.6, 3.6, 0.9, 0.56, 23, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Stuffed brinjal(1 Small Bowl)': array([[0.98, 3.8, 8.5, 1.95, 92, 0, 1, 1, 0, 1, 1]], dtype=object),
  'Stuffed tomato(1 Small Bowl)': array([[3.3, 8.5, 5.6, 2.2, 93, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Steamed stuffed bitter gourd (1 Small Bowl)': array([[2.7, 8.2, 6.4, 5.8, 92, 0, 1, 1, 1, 1, 1]], dtype=object),
  'Undhiyu(1 Small Bowl)': array([[6.8, 18.9, 14.8, 6.6, 233, 0, 1, 0, 0, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (CEREAL + PULSE + VEGETABLE  PRODUCTS) (1 SMALL BOWL)': {'VaghareliKhichadi (1 Small Bowl)': array([[3.4, 17.2, 1.98, 0.98, 98, 1, 1, 1, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (MILK + PULSE PRODUCT) (1 SMALL BOWL)': {'Kadhi(1 Small Bowl)': array([[2.98, 5.3, 5.2, 0.9, 78, 0, 1, 1, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (OIL SEEDS PRODUCT)(1 SMALL PIECE)': {'Groundnut chikki  (1 Small Piece)': array([[1.3, 3.1, 2.4, 0.5, 36, 1, 0, 0, 0, 1, 0]], dtype=object),
  'Black sesame seeds  Chokki  (1 Small Piece)': array([[2.9, 15.2, 10.5, 2.3, 157, 1, 0, 0, 0, 1, 0]], dtype=object),
  'Shingpak (1 Small Piece)': array([[2.3, 5.8, 4.7, 0.9, 70, 1, 0, 0, 1, 1, 1]], dtype=object)},
 'NUTRITIVE VALUE FOR (RAW FRUITS) (1 MEDIUM SIZE)': {'Medium Apple (1 Medium Size)': array([[0.41, 24.42, 0.92, 5.83, 107, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Medium Banana (1 Medium Size)': array([[1.32, 27.53, 0.32, 2.04, 117, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Medium Pear (1 Medium Size)': array([[1.12, 21.22, 0.43, 7.72, 93, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Pineapple (1 Medium Size)': array([[3.63, 97.72, 0.92, 25.32, 416, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Plum(1 Medium Size)': array([[0.52, 7.34, 0.32, 1.92, 34, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Sapota (1 Medium Size)': array([[0.42, 12.82, 0.73, 6.52, 59, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Strawberry (1 Medium Size)': array([[0.12, 1.23, 0.0001, 0.31, 5, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Watermelon Balls (1 Medium Size)': array([[0, 0.41, 0, 0.1, 2, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Apricot Dried  (1 P)  (1 Medium Size)': array([[0.11, 4.91, 0.12, 0.52, 20, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Avocado Fruit (Sliced) (1 Medium Size)': array([[4.31, 2.62, 20.21, 9.82, 211, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Dragon Fruit (1 Medium Size)': array([[4.1, 17.81, 4.1, 3.01, 119, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Cherries Red (1 Medium Size)': array([[1.12, 14.23, 0.52, 1.61, 66, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Rose Apple (1 Medium Size)': array([[1.51, 15.11, 0.42, 2.12, 69, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Dates, Processed (1 Medium Size)': array([[0.31, 8.12, 0.11, 1.91, 35, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Fig(1 Medium Size)': array([[0.42, 9.61, 0.21, 1.52, 37, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Gooseberry (1 Medium Size)': array([[0.11, 3.52, 0, 0.41, 14, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Grapes Green (1 Medium Size)': array([[0, 0.81, 0, 0.1, 3, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Grapes Black (1 Medium Size)': array([[0.11, 1.12, 0, 0.21, 5, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Guava pink Flesh (1 Medium Size)': array([[0.81, 6.41, 0.22, 5.21, 33, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Guava White Flesh (1 Medium Size)': array([[1.81, 10.1, 0.72, 3.81, 48, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Jambu fruit Ripe (1 Medium Size)': array([[0, 0.41, 0, 0.11, 2, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Litchi (1 Medium Size)': array([[0.11, 1.61, 0.12, 0.12, 6, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Mandarin Orange(1 Medium Size)': array([[1.01, 15.92, 0.41, 2.23, 63, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Orange (1 Medium Size)': array([[0.7, 10.51, 0.21, 1.13, 46, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Papaya, Ripe (1 Medium Size)': array([[0.91, 10.41, 0.22, 3.82, 46, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Mango (1 Medium Size)': array([[2.01, 56.82, 1.41, 6.72, 249, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Chikoo (1 Medium Size)': array([[0.42, 12.82, 0.72, 6.53, 59, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Muskmelon Fruit (1 Medium Size)': array([[0.51, 5.61, 0.32, 1.31, 27, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Kiwi Fruit (1 Medium Size)': array([[0.81, 10.12, 0.41, 2.12, 42, 1, 1, 1, 1, 1, 1]], dtype=object),
  'Pomegranate (1 Medium Size)': array([[4.71, 52.72, 3.32, 11.31, 234, 1, 1, 1, 1, 1, 1]], dtype=object)}}

In [30]:
import pickle 

with open('/workspaces/codespaces-blank/data/food_Info.pkl', 'wb') as f:
    pickle.dump(Info, f)

In [31]:
with open('/workspaces/codespaces-blank/data/food_Info.pkl', 'rb') as f:
    food_tables = pickle.load(f)

In [28]:
len(Info.keys())

15

In [ ]:
import random

# Sample food tables with food names and calories
food_tables = {
    'vegetables': {'Spinach': 23, 'Broccoli': 55, 'Carrots': 41, 'Bell Pepper': 31},
    'fruits': {'Apple': 95, 'Banana': 105, 'Orange': 62, 'Grapes': 69},
    'protein_sources': {'Chicken Breast': 165, 'Salmon': 206, 'Tofu': 144, 'Eggs': 68},
    # Add more tables as needed
}

def recommend_food(calorie_limit):
    selected_foods = []
    remaining_calories = calorie_limit

    while remaining_calories > 0:
        # Choose a random food table
        table_name = random.choice(list(food_tables.keys()))
        table = food_tables[table_name]

        # Choose a random food item from the selected table
        food_name = random.choice(list(table.keys()))
        food_calories = table[food_name]

        # Check if adding the food exceeds the remaining calories
        if remaining_calories - food_calories >= 0:
            selected_foods.append((food_name, food_calories))
            remaining_calories -= food_calories

    return selected_foods

def main():
    # Set the daily calorie limit for the patient
    daily_calorie_limit = 1500

    # Get the recommended foods based on the daily calorie limit
    recommended_foods = recommend_food(daily_calorie_limit)

    # Display the recommended foods
    print("Recommended foods:")
    for food, calories in recommended_foods:
        print(f"{food}: {calories} calories")

if __name__ == "__main__":
    main()

In [56]:
food_tables = Info

In [34]:
import random

In [35]:
table_name = random.choice(list(food_tables.keys()))
table = food_tables[table_name]
table

{'VaghareliKhichadi (1 Small Bowl)': array([[3.4, 17.2, 1.98, 0.98, 98, 1, 1, 1, 1, 1, 1]], dtype=object)}

In [51]:
list(table.values())[0][0][5]

1

In [70]:
# Choose a random food item from the selected table
food_name = random.choice(list(table.keys()))
food_calories = table[food_name]
food_calories[0]
# food_calories[0][4]

array([1.2, 5.98, 0.25, 2.6, 29, 0, 1, 1, 1, 1, 0], dtype=object)

In [74]:
import random

def recommend_food(calorie_limit):
    selected_foods_breakfast = []
    selected_foods_lunch = []
    selected_foods_dinner = []
    
    remaining_calories_breakfast = int(calorie_limit * 0.4)
    remaining_calories_lunch = int(calorie_limit * 0.3)
    remaining_calories_dinner = int(calorie_limit * 0.3)

    for meal, remaining_calories in [('Breakfast', remaining_calories_breakfast),
                                     ('Lunch', remaining_calories_lunch),
                                     ('Dinner', remaining_calories_dinner)]:

        while remaining_calories > 0:
            # Choose a random food table
            table_name = random.choice(list(food_tables.keys()))
            table = food_tables[table_name]

            # Choose a random food item from the selected table
            food_name = random.choice(list(table.keys()))
            food_calories = table[food_name]

            # Check if adding the food exceeds the remaining calories for the current meal
            if remaining_calories - food_calories >= 0:
                if meal == 'Breakfast':
                    selected_foods_breakfast.append((food_name, food_calories))
                elif meal == 'Lunch':
                    selected_foods_lunch.append((food_name, food_calories))
                elif meal == 'Dinner':
                    selected_foods_dinner.append((food_name, food_calories))

                remaining_calories -= food_calories

    return selected_foods_breakfast, selected_foods_lunch, selected_foods_dinner

# Example usage:
food_tables = {
    'vegetables': {'Spinach': 23, 'Broccoli': 55, 'Carrots': 41, 'Bell Pepper': 31},
    'fruits': {'Apple': 95, 'Banana': 105, 'Orange': 62, 'Grapes': 69},
    'protein_sources': {'Chicken Breast': 165, 'Salmon': 206, 'Tofu': 144, 'Eggs': 68},
    # Add more tables as needed
}

daily_calorie_limit = 100
recommended_foods_breakfast, recommended_foods_lunch, recommended_foods_dinner = recommend_food(daily_calorie_limit)

print("Recommended foods for Breakfast:")
for food, calories in recommended_foods_breakfast:
    print(f"{food}: {calories} calories")

print("\nRecommended foods for Lunch:")
for food, calories in recommended_foods_lunch:
    print(f"{food}: {calories} calories")

print("\nRecommended foods for Dinner:")
for food, calories in recommended_foods_dinner:
    print(f"{food}: {calories} calories")

KeyboardInterrupt: