In [1]:
import os
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("../data/rad_food_dataset.csv")
df.shape

(100000, 10)

In [6]:
df.head()

,name,age,gender,weight,height,activity_level,daily_calorie_limit,recommended_foods_breakfast,recommended_foods_lunch,recommended_foods_dinner
0,Michelle Ortiz,43,Female,51,153,moderate,1898.43,"[[""Kiwi Fruit (1 Medium Size)"", 42], [""Litchi ...","[[""Roti (1 Medium Size)"", 85], [""Stuffed tomat...","[[""Kadhi(1 Small Bowl)"", 78], [""VaghareliKhich..."
1,Stacey Barnett,50,Female,87,159,active,2669.32,"[[""Grapes Black (1 Medium Size)"", 5], [""Muskme...","[[""Rotla (Bajra)(1 Medium Size)"", 113], [""Spro...","[[""Green gram subji(1 Small Bowl)"", 102], [""Ja..."
2,Rebekah Smith,94,Male,85,181,extra_active,2860.92,"[[""Medium Apple (1 Medium Size)"", 107], [""Medi...","[[""Kadhi(1 Small Bowl)"", 78], [""Radious Leaves...","[[""Carrot tomato beetroot salad (2 Table Spoon..."
3,Albert Rosales,27,Female,74,156,extra_active,2897.71,"[[""Medium Apple (1 Medium Size)"", 107], [""Guav...","[[""Rotla (Bajra)(1 Medium Size)"", 113], [""Undh...","[[""Red gram dal(1 Small Bowl)"", 116], [""Kadhi(..."
4,Christopher Cervantes,91,Male,89,161,active,2554.72,"[[""Avocado Fruit (Sliced) (1 Medium Size)"", 21...","[[""Paratha(1 Medium Size)"", 118], [""Stuffed br...","[[""Paratha(1 Medium Size)"", 118], [""VaghareliK..."